// Colours
$color-link: #174896;
$color-brand: #ff1b1c;
$color-text: #444;
$color-background: #fff;

// Widths Margins
$max-width: 1400px;
$baseline: 1.5em;

// Fonts
$font-sans:  Arial, Helvetica, sans-serif;
$font-serif: "Times New Roman", Times, serif;