/* Base styles */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

img {
    display: inline-block;
    margin: 0 auto;
    font-style: italic;
    color: #666;
    vertical-align: middle;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 85%;
    max-width: 1300px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

/* HEADER / FOOTER */
.header {
    margin-bottom: 1em;
}

.header,
.footer {
    display: block;
    padding: 1.75em 2.5em;
    font-size: 1.6em;
    text-align: center;
    background-color: #CCC;
    color: #666;
    text-transform: uppercase;
}

/* GALLERY */
.gallery {
    display: block;
    list-style: none;
    margin: 0 0 1.5em;
}

.gallery__item {
    display: block;
    margin-bottom: 1em;
}

.gallery a {
    display: block;
    margin-bottom: 1em;
}

/* PANEL */
.panel {
    display: block;
    padding: 2.5em;
    margin-bottom: 1em;
    font-size: 1.6em;
    text-align: center;
    color: #fff;
}

.panel--1 {
    background: #2ecc71;
}

.panel--2 {
    background: #3498db;
}

.panel--3 {
    background: #2ecc71;
}